body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #ae0dee;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    border-radius: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #a81c1c;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.modelo {
    margin-bottom: 20px;
}

#imagenes img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #ae0dee;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6060;
}

footer {
    background-color: #f4f4f4;
    color: #000;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #ddd;
}
